<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Administration - edit user</title>
</head>

<body>
<div class="container containercustom">
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <h2 id="userh2">New user/edit user form</h2>
    <form action="#" th:action="${#httpServletRequest.requestURI}" method="POST" th:object="${user}" >
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" th:field="*{username}" th:value="${user.getUsername()}">

            <label for="username">Password</label>
            <input type="text" name="password" id="password" class="form-control" placeholder="Enter password" th:field="*{password}" th:value="${user.getPassword()}">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Enter email" th:field="*{email}" th:value="${user.getEmail()}">

            <div class="roleWrapper" th:if="${#authentication.name != user.getUsername()}" sec:authorize="hasRole('ROLE_ADMIN')">
                <label for="roleName">Role</label>
                <select id="roleName" th:if="${#authentication.name != user.getUsername()}" name="roleName" class="form-control">
                    <option th:each="roleName : ${roles}" th:value="${roleName.getId()}" th:text="${roleName.getRole()}" th:selected="${user.getRoles().contains(roleName)}"></option>
                </select>
            </div>

            <input type="submit" value="Save" class="btn btn-primary btncustom">
        </div>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>