<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Admin login</title>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link py-0" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link py-0" th:href="@{/admin3000}">Already registered? Click here to login.</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2 style="text-align: center">Register</h2>

    <form action="#" th:action="@{/register}" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">

        <input type="submit" value="Register" class="btn btn-primary btncustom">
    </form>

    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
</html>