<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
<div class="container-fluid containercustom2">

    <h2 id="userh2">User administration</h2>

    <table class="table table-bordered table-hover tablecustom">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th colspan="2" scope="col" class="text-center">Action</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td scope="row" th:text="${user.getId()}">...</td>
                <td th:text="${user.getUsername()}">...</td>
                <td th:text="${user.getPassword()}" class="longtext">...</td>
                <td th:text="${user.getEmail()}">...</td>
                <td class="text-center"><a th:href="@{/administration/edituser/{id}(id=${user.id})}" name="edit" class="btn btn-info btn-sm">Edit</a></td>
                <td class="text-center"><a th:href="@{/administration/delete/{id}(id=${user.id})}" name="delete" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        </th:block>
    </table>

    <a th:href="@{/administration/userform}" class="btn btn-primary btn-lg">Add user</a>

    <h2 id="posth2">Post administration</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-hover tablecustom">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Post name</th>
                <th scope="col">Post preview</th>
                <th scope="col">Date created</th>
                <th scope="col">Date modified</th>
                <th colspan="2" scope="col" class="text-center">Action</th>
            </tr>
            <th:block th:each="post : ${posts}">
                <tr>
                    <td th:text="${post.getId()}">...</td>
                    <td th:text="${post.getPostname()}">...</td>
                    <td th:text="${post.getPostpreview()}" class="longtext">...</td>
                    <td th:text="${#dates.format(post.getDateCreated(), 'dd-MM-yyyy')}">...</td>
                    <td th:text="${#dates.format(post.getDateModified(), 'dd-MM-yyyy')}">...</td>
                    <td class="text-center"><a th:href="@{/administration/editpost/{id}(id=${post.id})}" name="edit" class="btn btn-info btn-sm">Edit</a></td>
                    <td class="text-center"><a th:href="@{/administration/deletepost/{id}(id=${post.id})}" name="delete" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
            </th:block>
        </table>
    </div>
    <a th:href="@{/administration/postform}" class="btn btn-primary btn-lg">Add post</a>

</div>
</body>
</html>